{% extends "base.html" %}

{% block content %}

<form method="post">
    <br>
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" placeholder="Post title"
           class="form-control" required value="{{ post['title'] }}">
    </div>
    <br>
    <div class="form-group">
        <label for="content">Content</label>
        <textarea  name="content" id="content" placeholder="Post content"
              class="form-control" required>{{ post['content'] }}</textarea>
    </div>
    <div class="form-group">
        <label for="author">Author</label>
        <input type="text" name="author" id="author" placeholder="authors name" class="form-control" required value="{{ post['author'] }}">
    </div>
    <br>
    <div class="form-group">
        <button type="submit" class="btn btn-dark">Submit</button>
    </div>
</form>

{% endblock %}
